* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form { background: #fff; padding: 1px; bottom: 0; width: 100%; }
form input {
  border: solid 1px black;
  padding: 0px;
  width: 39em;
  height: 2em;
}
form button {
  display: inline-block;
  width: 4em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  user-select: none;
  color: rgb(0,0,0);
  outline: none;
  border: 1px solid rgba(0,0,0,.4);
  border-top-color: rgba(0,0,0,.3);
  border-radius: 2px;
  background: linear-gradient(rgb(255,255,255), rgb(240,240,240));
  box-shadow:
   0 0 3px rgba(0,0,0,0) inset,
   0 1px 1px 1px rgba(255,255,255,.2),
   0 -1px 1px 1px rgba(0,0,0,0);
  transition: .2s ease-in-out;
}

#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
.chat{
  border: solid 1px black;
  width: 48em;
  height: 50%;
  background: #fff;
  position: absolute; /* Абсолютное позиционирование */
  bottom: 15px; /* Положение от нижнего края */
  right: 15px; /* Положение от правого края */
}
.hystory{
  overflow: auto ;/* Полосы прокрутки добавляются только при необходимости. */
  width: 45em;
  height: 23em;
  background: #fff;
  border: solid 1px black;
  padding: 5px;
  right: 1em;
  padding-right: 5px;
  position: absolute; /* Абсолютное позиционирование */
  bottom: 15px; /* Положение от нижнего края */
    /* left: 50%;*/
}
.send{
   top: 1em;
   width: 45em;
   padding: 0px;
   padding-right: 0px;
   position: absolute; /* Абсолютное позиционирование */
   bottom: 15px; /* Положение от нижнего края */
   left: 2em;
   border: solid 0px black;
}
